{% extends "base.html" %}
{% block content %}
<section class="producto">
    {% for lista in listas %}
    <div class="caja">
        <div id="izq">
            <img src="../imagenes/camisa1.jpeg" alt="">
            <p>{{ lista.producto }}.......{{ lista.cantidad }} unidad/es</p>
        </div>
        <div id="dere">
            <form onsubmit="return deletee('{{ lista.id }}')">
                <button type="submit"><a href="#">Eliminar</a></button>
            </form>
        </div>
    </div>
    {% endfor %}
    <div id="caja_pagar">
        <form method="POST" action="{{ url_for('buy') }}">
            <button type="submit">Comprar</button>
        </form>
    </div>
</section>

<script>
    function deletee(id) {
        fetch(`/ver_carrito/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Error al eliminar el producto');
            }
        });
        return false;
    }
</script>
{% endblock %}
