{% extends "base.html" %}
{% block content %}
<h2>Registro</h2>
<div id="contenedor_form">
    
    <h1>Add Product</h1>
    <form method="POST" action="{{ url_for('reg_products') }}">  <div class="form-group">
        <label class="form-label" for="name">Name:</label>
        <input class="form-input" type="text" class="form-control" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label class="form-label" for="price">Price:</label>
        <input class="form-input" type="number" step="0.01" class="form-control" name="price" id="price" required>
      </div>
      <div class="form-group">
        <label class="form-label" for="description">Description:</label>
        <textarea class="form-input" class="form-control" name="description" id="description" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label class="form-label" for="category">Category:</label>
        <select class="form-input" name="Category" id="category" required>
          {% for cat in cats %}
          <option class="form-input" value="{{cat['name']}}">{{cat['name']}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="form-label" for="image_url">Image URL:</label>
        <input class="form-input" type="text" class="form-control" name="image_url" id="image_url" required>
      </div>
      <button class="caja_boton" type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>

{% endblock %}
